name: Test Frontend
on:
  # push:
  #   branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - 'contrib/**'
      - '.github/workflows/tests.yml'
      - '.github/workflows/docker-base-image.yml'
      - '.github/workflows/docker-dev-image.yml'
      - '.github/workflows/docker-nginx-image.yml'
      - '.github/workflows/docker-postgresql-image.yml'
      - '.github/workflows/docker-deployment-image.yml'
      - '.github/workflows/deploy.yml'
      - '.github/ISSUE_TEMPLATE'
      - '.github/PULL_REQUEST_TEMPLATE.md'
      - '.gitignore'
env:
  NODE_VERSION: '16'
  PYTHON_VERSION: '3.9'

permissions:
  contents: read

jobs:
  cypress:
    runs-on: ubuntu-latest
    services:
      ckan-postgres:
        image: postgres:10
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_USER: ckan_default
          POSTGRES_PASSWORD: pass
          POSTGRES_DB: ckan_test

      ckan-redis:
        image: redis
        ports:
          - 6379:6379
      ckan-solr:
        image: ckan/ckan-solr:master
        ports:
          - 8983:8983

    env:
      CKAN_SQLALCHEMY_URL: postgresql://ckan_default:pass@localhost/ckan_test
      CKAN_SOLR_URL: http://localhost:8983/solr/ckan
      CKAN_REDIS_URL: redis://localhost:6379/1

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - uses: actions/setup-node@v2-beta
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install python deps
        run: pip install -r requirement-setuptools.txt -r requirements.txt -r dev-requirements.txt -e.

      - name: Init environment
        run: |
          ckan -c test-core-cypress.ini db init
      - name: Run Cypress
        uses: cypress-io/github-action@v2
        with:
          start: ckan -c test-core-cypress.ini run
      
